

body header.pageHeader {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("/images/beige-paper.png");
  background-color: #fca903;
  margin-top: 122px;
}

.avatarImage {
  display:flex;
  justify-content: center;
  align-items: center;
}

.userName {
  display:flex;
  justify-content: center;
  align-items: center;
}
