

header {

  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarImage {
  display:flex;
  justify-content: center;
  align-items: center;
}

.userName {
  display:flex;
  justify-content: center;
  align-items: center;
}

#id {

  
}